@model ReelObscuraApp.Web.Models.Movie[]

@{
    ViewBag.Title = "Reel Obscura - Create";
}

<form>
    <div class="mb-3 col-6">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" id="Title">
    </div>
    <div class="mb-3 col-6">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" id="Description">
    </div>
    <div class="mb-3 col-6">
        <label for="Release Year" class="form-label">Release Year</label>
        <input type="text" class="form-control" id="Release Year">

    </div>
    <div class="mb-3 col-6">
        <label for="Movie Poster" class="form-label">Movie Poster</label>
        <input type="file" class="form-control" id="Movie Poster">
    </div>
    <div class="mb-3 col-6">
        <label for="Imdb URL" class="form-label">Imdb URL</label>
        <input type="text" class="form-control" id="Imdb URL">

    </div>

    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>

<a href="/" class="btn btn-primary ">Back to Index</a>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="~/scripts/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="$.validator">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="$.validator.unobtrusive">
    </script>
}



