@model CreateVM.MovieCreateVM

@{
    ViewBag.Title = "Reel Obscura - Create";
}

<form asp-controller="Movies" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3 col-6">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" type="text" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="ReleaseYear" class="form-label"></label>
        <input asp-for="ReleaseYear" type="text" class="form-control">
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="MoviePoster" class="form-label"></label>
        <input asp-for="MoviePoster" type="url" class="form-control">
        <span asp-validation-for="MoviePoster" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="TrailerUrl" class="form-label"></label>
        <input asp-for="TrailerUrl" type="url" class="form-control">
        <span asp-validation-for="TrailerUrl" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="Actors" class="form-label"></label>
        <input asp-for="Actors" type="text" class="form-control" placeholder="Separera skådespelare med komma">
        <span asp-validation-for="Actors" class="text-danger"></span>
    </div>
    <div class="mb-3 col-6">
        <label asp-for="ImdbUrl" class="form-label"></label>
        <input asp-for="ImdbUrl" type="url" class="form-control">
        <span asp-validation-for="ImdbUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>
<div asp-validation-summary="All" class="text-danger"></div>
<a href="/" class="btn btn-secondary">Back to Index</a>
@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"
            asp-fallback-src="~/scripts/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/scripts/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="$.validator">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="$.validator.unobtrusive">
    </script>
}