@model ReelObscuraApp.Web.Views.Movie.IndexVM

@{ 
    ViewBag.Title = "Reel Obscura";
}



@foreach (var movie in Model.MovieVMs)
{

    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                @*<p class="card-text">@movie.Description</p>*@
                <a href="#" class="btn btn-primary mr-0">Show details</a>
                <a asp-controller="Movies" asp-action="/details/{id}" asp-route-id="@movie.Id" class="btn btn-primary">Movie details</a>
            </div>
        </div>
    </div>
}
