@model IndexVM

@{ 
    ViewBag.Title = "Reel Obscura";
}



@foreach (var movie in Model.MovieVMs)
{

    <div class="col-md-4">
        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"
           class="text-decoration-none text-dark">
            <!-- Tar bort understruken text och behåller färg -->
            <div class="card mb-4 hover-shadow">
                <!-- hover-shadow ger en hover-effekt -->
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">@movie.Description</p>
                </div>
            </div>
        </a>
    </div>

}
