@model IndexVM

@{
    ViewBag.Title = "Reel Obscura";
}

<div class="container">
    <div class="text-center mb-5">
        <h1 class="display-4 mb-3"><strong>Reel Obscura</strong></h1>
        <p class="section-title">Your personal movie collection in classic style</p>
    </div>

    <div class="row g-4">
        @foreach (var movie in Model.MovieVMs)
        {
            <div class="col-12 col-md-4 col-lg-3">
                <div class="card h-100 hover-shadow">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">
                        <img src="@movie.MoviePoster" class="card-img-top" alt="@movie.Title movie poster">
                        
                    </a>
                </div>
            </div>
        }
    </div>
</div>