<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">
    <title>Document Title</title>
</head>
<body>
    <header>
        <h1>Site Title</h1>
        
    </header>

    <main>
        <section>
            <h2>Section Title</h2>
            <p>This is a paragraph of text in the section.</p>
        </section>

        <article>
            <h2>Article Title</h2>
            <p>This is an article.</p>
        </article>
    </main>

    <aside>
        <h2>Sidebar Title</h2>
        <p>This is a sidebar.</p>
    </aside>

    <footer>
        <p>&copy; 2025 Company Name</p>
    </footer>
</body>
</html>